BasedOnStyle: Google
ColumnLimit: 110
IndentWidth: 2
DerivePointerAlignment: false
PointerAlignment: Left
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
IncludeBlocks: Preserve
